<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>الاخبار اليوم</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark" dir="rtl">
            
            <div class="container ">
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <img src="https://www.maannews.net/2022_assets/images/logo.png" class="w-1 h-auto" alt="logo" >
                <a class="navbar-brand" href="#">أخبار اليوم</a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="#">الرئيسية</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">سياسة</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">اقتصاد</a></li>S
                        <li class="nav-item"><a class="nav-link" href="#">رياضة</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">صحة</a></li>
                    </ul>
                </div>
            
                <form class="row " role="search">
                    <input class="form-control me-2" type="search" placeholder="ادخل كلمة البحث" aria-label="ادخل كلمة البحث">
                </form>

            </div>
        </nav>
    <div class="container">
        <div class="row p-4 ">
            <div class=" col-4  bg-dark p-0">
                <a  href="#"><img src="https://images.skynewsarabia.com/images/v1/2025/03/15/1783972/1400/788/1-1783972.jpeg"   class="w-100 h-auto" alt="news image"></a>
                <div class="card-body  p-2">
                    <small class="text-light p-1">سياسة_روسيا</small>

                    <h5 class="card-title text-light p-1">ضغوط غربية ورهانات روسية تعقد آفاق الحل في أوكرانيا
                    </h5>
                    <p class="card-text  text-light  p-1">وسط معارك محتدمة في أوكرانيا، تظل آفاق الحل السياسي غير واضحة، حيث تواصل روسيا عملياتها العسكرية بينما تكثف الولايات المتحدة وحلفاؤها الغربيون ضغوطهم الاقتصادية والدبلوماسية على موسكو. فهل ستكون هذه الضغوط كفيلة بإجبار الرئيس الروسي فلاديمير بوتين على تقديم تنازلات، أم أن الكرملين سيراهن على عامل الوقت والمناظرات السياسية لتحقيق مكاسب استراتيجية؟..</p>
                </div>
            </div>
        
            <div class="col-8">
                <div class="row row-cols-1 row-cols-sm-2 g-4">
                    <div class="col d-flex flex-column gap-2">
                        <div class="card ">
                            
                            <a href="#"><img src="https://images.skynewsarabia.com/images/v1/2025/03/14/1783722/800/450/1-1783722.jpeg"  class="w-100 h-auto"alt=""></a>
                            <div class="card-body">
                                <small class="text-muted" >سياسة</small>
                                <p class="card-text">اتفاق غزة.. لماذا يصعب التفاوض بين حماس وواشنطن وإسرائيل؟ ...</p>
                            </div>
                        </div>
                    </div>
        
                    <div class="col d-flex flex-column gap-2">
                        <div class="card ">
                          <a href="#"><img src="https://images.skynewsarabia.com/images/v1/2025/03/15/1783964/800/450/1-1783964.jpg"class="w-100 h-auto" alt="news image"></a>
                            <div class="card-body">
                                <small >سياسة</small>

                                <p class="card-text">فانس: ماسك ارتكب "أخطاء" في عملية تسريح الموظفين..</p>
                            </div>
                        </div>
                    </div>
        
                    <div class="col d-flex flex-column gap-2">
                        <div class="card">
                            <a  href="#"><img src="https://images.skynewsarabia.com/images/v1/2025/03/15/1784038/1300/731/1-1784038.jpg"  class="w-100 h-auto"alt="news image"></a>
                            <div class="card-body">
                                <small class="text-muted">رياضة</small>

                                <p class="card-text">   السيتي يخسر نقطتين في مباراة تألق مرموش...</p>
                            </div>
                        </div>
                    </div>
        
                    <div class="col d-flex flex-column gap-2">
                        <div class="card ">
                            <a  href="#"><img src="https://images.skynewsarabia.com/images/v1/2024/02/29/1696472/800/450/1-1696472.JPG"  class="w-100 h-auto" alt="news image"></a>
                            <div class="card-body">
                                <small class="text-muted text-light">سياسة</small>
                                <p class="card-text">مفاجأة أبل القادمة.. تسريبات جديدة تكشف تفاصيل iPhone 17 Air...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="border-bottom p-0">
                            <h5 class="border-bottom-6 p-0">الأكثر قراءة</h5>
                        </div>
                        <ul class="list-group p-0"> 
                            <a href="#" class="text-decoration-none"><li class="list-group-item">مفاجأة أبل القادمة.. تسريبات جديدة تكشف تفاصيل iPhone 17 Air..</li></a>
                            <a href="#"class="text-decoration-none"><li class="list-group-item">سيتي يخسر نقطتين في مباراة تألق مرموش.  </li></a>
                            <a href="#"class="text-decoration-none"><li class="list-group-item">فانس: ماسك ارتكب "أخطاء" في عملية تسريح الموظفين</li></a>
                        </ul>
                    </div>
                    <div class="col-8">
                        <div class="  row border-bottom p-0">
                        <h5 class="col-11 p-2">المزيد من الاخبار </h5>
                        <a  class="col-1 p-2 text-decoration-none" href="#"><h6 >المزيد</h6></a>
                        </div>
                        <div class="row row-cols-1 row-cols-md-2 g-4 p-2">
                            <div class="col">
                                <div class="card  border-0" >
                                    <a href="#"><img src="https://images.skynewsarabia.com/images/v1/2025/03/15/1783972/800/450/1-1783972.jpeg" class="w-100 h-auto" alt="news image">                                    </a>
                                    <div class="card-body">
                                        <small class="text-muted p-1">سياسة_روسيا</small>
                                        <h3 class="card-title">ضغوط غربية ورهانات روسية تعقد آفاق الحل في أوكرانيا</h3>
                                        <p class="card-text text-muted">وسط معارك محتدمة في أوكرانيا، تظل آفاق الحل السياسي غير واضحة، حيث تواصل روسيا عملياتها العسكرية بينما تكثف الولايات المتحدة وحلفاؤها الغربيون ضغوطهم الاقتصادية والدبلوماسية على موسكو. فهل ستكون هذه الضغوط كفيلة بإجبار الرئيس الروسي فلاديمير بوتين على تقديم تنازلات، أم أن الكرملين سيراهن على عامل الوقت والمناظرات السياسية لتحقيق مكاسب استراتيجية؟..</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="card  p-0 border-0">
                                        
                                        <div class="card-body">
                                            <small class=" text-muted">سياسة_روسيا</small>
                                            <h5 class="card-title">ضغوط غربية ورهانات روسية تعقد آفاق الحل في أوكرانيوسط معارك محتدمة في أوكرانياا</h5>
                                        </div>
                                        <a href="#"><img src="https://images.skynewsarabia.com/images/v1/2025/03/15/1783972/800/450/1-1783972.jpeg" class="w-100 h-auto" alt="news image">                                        </a>
                                    </div>
                                </div>
                                    <div class="row">
                                        <div class="card  p-0 border-0">
                                            <div class="card-body">
                                                <small class="p-1">سياسة_روسيا</small>
                                                <h5 class="card-title">ضغوط غربية ورهانات روسية تعقد آفاق الحل في  </h5>
                                            </div>
                                        </div>
                                        <a href="#"><img  src="https://images.skynewsarabia.com/images/v1/2025/03/15/1783972/800/450/1-1783972.jpeg" class="w-100 h-auto"alt="news image">                                        </a>
                                    </div>
                        </div>       
                    </div>
                </div>
       
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="  row border-bottom p-0">
                        <h4 class="col-11 p-2"> سياسة </h4>
                        <a  class="col-1 p-2 text-decoration-none" href="#"><h6 >المزيد</h6></a>
                        </div>
                </div>
                <div class="row row-cols-1 row-cols-2 py-5 ">
                    <div class="card  p-0">
                        <a href="#"><img src="https://images.skynewsarabia.com/images/v1/2025/03/15/1783972/1400/788/1-1783972.jpeg" class="w-100 h-auto" alt="news image"></a>
                        <div class="card-body ">
                            <small class="p-1 ">سياسة</small>
                            <h5 class="card-title ">ضغوط غربية ورهانات روسية تعقد آفاق الحل في أوكرانيا
                            </h5>
                            <p class="card-text text-muted ">وسط معارك محتدمة في أوكرانيا، تظل آفاق الحل السياسي غير واضحة، حيث تواصل روسيا عملياتها العسكرية بينما تكثف الولايات المتحدة وحلفاؤها الغربيون ضغوطهم الاقتصادية والدبلوماسية على موسكو. فهل ستكون هذه الضغوط كفيلة بإجبار الرئيس الروسي فلاديمير بوتين على تقديم تنازلات، أم أن الكرملين سيراهن على عامل الوقت والمناظرات السياسية لتحقيق مكاسب استراتيجية؟..</p>
                        </div>
                    </div>
                
                    <div class="col">
                        <div class="row row-cols-1 row-cols-sm-2 g-4">
                            <div class="col d-flex flex-column gap-2">
                                <div class="card ">
                                    <a href="#"><img src="https://images.skynewsarabia.com/images/v1/2025/03/14/1783722/800/450/1-1783722.jpeg"  class="w-100 h-auto"alt=""></a>
                                    <div class="card-body" id="s">
                                        <small class="p-1">سياسة</small>
                                        <p class="card-text">اتفاق غزة.. لماذا يصعب التفاوض بين حماس وواشنطن وإسرائيل؟
                                            ...</p>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col d-flex flex-column gap-2">
                                <div class="card  ">
                                    <a href="#"><img src="https://images.skynewsarabia.com/images/v1/2025/03/15/1783964/800/450/1-1783964.jpg"  class="w-100 h-auto"alt="news image"></a>
                                    <div class="card-body">
                                        <small class="p-1">سياسة</small>
                                        
                                        <p class="card-text">فانس: ماسك ارتكب "أخطاء" في عملية تسريح الموظفين ..</p>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col d-flex flex-column gap-2">
                                <div class="card ">
                                    <a href="#"><img src="https://images.skynewsarabia.com/images/v1/2025/03/15/1784038/1300/731/1-1784038.jpg" class="w-100 h-auto" alt="news image"></a>
                                    <div class="card-body">
                                        <small class="p-1">سياسة</small>
                                        <p class="card-text">   السيتي يخسر نقطتين في مباراة تألق مرموش...</p>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col d-flex flex-column gap-2">
                                <div class="card ">
                                    <a href="#"><img src="https://images.skynewsarabia.com/images/v1/2024/02/29/1696472/800/450/1-1696472.JPG"  class="w-100 h-auto"alt="news image"></a>
                                    <div class="card-body">
                                        <small class="p-1">سياسة</small>
                                        <p class="card-text">مفاجأة أبل القادمة.. تسريبات جديدة تكشف تفاصيل iPhone 17 Air
                                            ...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="  row border-bottom p-0">
                        <h4 class="col-11 p-2"> اقتصاد </h4>
                        <a  class="col-1 p-2 text-decoration-none" href="#"><h6 >المزيد</h6></a>
                        </div>
                </div>
                <div class="row row-cols-1 row-cols-2 py-5 ">
                    <div class="card  p-0">
                        <a href="#"><img src="https://images.skynewsarabia.com/images/v1/2025/03/15/1783972/1400/788/1-1783972.jpeg" class="w-100 h-auto" alt="news image"></a>
                        <div class="card-body ">
                            <small class="p-1 ">سياسة</small>
                            <h5 class="card-title ">ضغوط غربية ورهانات روسية تعقد آفاق الحل في أوكرانيا
                            </h5>
                            <p class="card-text text-muted ">وسط معارك محتدمة في أوكرانيا، تظل آفاق الحل السياسي غير واضحة، حيث تواصل روسيا عملياتها العسكرية بينما تكثف الولايات المتحدة وحلفاؤها الغربيون ضغوطهم الاقتصادية والدبلوماسية على موسكو. فهل ستكون هذه الضغوط كفيلة بإجبار الرئيس الروسي فلاديمير بوتين على تقديم تنازلات، أم أن الكرملين سيراهن على عامل الوقت والمناظرات السياسية لتحقيق مكاسب استراتيجية؟..</p>
                        </div>
                    </div>
                
                    <div class="col">
                        <div class="row row-cols-1 row-cols-sm-2 g-4">
                            <div class="col d-flex flex-column gap-2">
                                <div class="card ">
                                    <a href="#"><img src="https://images.skynewsarabia.com/images/v1/2025/03/14/1783722/800/450/1-1783722.jpeg" class="w-100 h-auto" alt=""></a>
                                    <div class="card-body">
                                        <small class="p-1">سياسة</small>
                                        <p class="card-text">اتفاق غزة.. لماذا يصعب التفاوض بين حماس وواشنطن وإسرائيل؟
                                            ...</p>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col d-flex flex-column gap-2">
                                <div class="card  ">
                                    <a href="#"><img src="https://images.skynewsarabia.com/images/v1/2025/03/15/1783964/800/450/1-1783964.jpg"  class="w-100 h-auto"alt="news image"></a>
                                    <div class="card-body">
                                        <small class="p-1">سياسة</small>
                                        
                                        <p class="card-text">فانس: ماسك ارتكب "أخطاء" في عملية تسريح الموظفين ..</p>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col d-flex flex-column gap-2">
                                <div class="card ">
                                    <a href="#"><img src="https://images.skynewsarabia.com/images/v1/2025/03/15/1784038/1300/731/1-1784038.jpg" class="w-100 h-auto" alt="news image"></a>
                                    <div class="card-body">
                                        <small class="p-1">سياسة</small>
                                        <p class="card-text">   السيتي يخسر نقطتين في مباراة تألق مرموش...</p>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col d-flex flex-column gap-2">
                                <div class="card ">
                                    <a href="#"><img src="https://images.skynewsarabia.com/images/v1/2024/02/29/1696472/800/450/1-1696472.JPG" class="w-100 h-auto" alt="news image"></a>
                                    <div class="card-body">
                                        <small class="p-1">سياسة</small>
                                        <p class="card-text">مفاجأة أبل القادمة.. تسريبات جديدة تكشف تفاصيل iPhone 17 Air
                                            ...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="  row border-bottom p-0">
                        <h4 class="col-11 p-2"> رياضة </h4>
                        <a  class="col-1 p-2 text-decoration-none" href="#"><h6 >المزيد</h6></a>
                        </div>
                </div>
                <div class="row row-cols-1 row-cols-2 py-5 ">
                    <div class="card  p-0">
                        <a href="#"><img src="https://images.skynewsarabia.com/images/v1/2025/03/15/1783972/1400/788/1-1783972.jpeg" class="w-100 h-auto" alt="news image"></a>
                        <div class="card-body ">
                            <small class="p-1 ">سياسة</small>
                            <h5 class="card-title ">ضغوط غربية ورهانات روسية تعقد آفاق الحل في أوكرانيا
                            </h5>
                            <p class="card-text text-muted ">وسط معارك محتدمة في أوكرانيا، تظل آفاق الحل السياسي غير واضحة، حيث تواصل روسيا عملياتها العسكرية بينما تكثف الولايات المتحدة وحلفاؤها الغربيون ضغوطهم الاقتصادية والدبلوماسية على موسكو. فهل ستكون هذه الضغوط كفيلة بإجبار الرئيس الروسي فلاديمير بوتين على تقديم تنازلات، أم أن الكرملين سيراهن على عامل الوقت والمناظرات السياسية لتحقيق مكاسب استراتيجية؟..</p>
                        </div>
                    </div>
                
                    <div class="col">
                        <div class="row row-cols-1 row-cols-sm-2 g-4">
                            <div class="col d-flex flex-column gap-2">
                                <div class="card ">
                                    <a href="#"><img src="https://images.skynewsarabia.com/images/v1/2025/03/14/1783722/800/450/1-1783722.jpeg" class="w-100 h-auto" alt=""></a>
                                    <div class="card-body">
                                        <small class="p-1">سياسة</small>
                                        <p class="card-text">اتفاق غزة.. لماذا يصعب التفاوض بين حماس وواشنطن وإسرائيل؟
                                            ...</p>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col d-flex flex-column gap-2">
                                <div class="card  ">
                                    <a href="#"><img src="https://images.skynewsarabia.com/images/v1/2025/03/15/1783964/800/450/1-1783964.jpg" class="w-100 h-auto" alt="news image"></a>
                                    <div class="card-body">
                                        <small class="p-1">سياسة</small>
                                        
                                        <p class="card-text">فانس: ماسك ارتكب "أخطاء" في عملية تسريح الموظفين ..</p>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col d-flex flex-column gap-2">
                                <div class="card ">
                                    <a href="#"><img src="https://images.skynewsarabia.com/images/v1/2025/03/15/1784038/1300/731/1-1784038.jpg" class="w-100 h-auto" alt="news image"></a>
                                    <div class="card-body">
                                        <small class="p-1">سياسة</small>
                                        <p class="card-text">   السيتي يخسر نقطتين في مباراة تألق مرموش...</p>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col d-flex flex-column gap-2">
                                <div class="card ">
                                    <a href="#"><img src="https://images.skynewsarabia.com/images/v1/2024/02/29/1696472/800/450/1-1696472.JPG" class="w-100 h-auto" alt="news image"></a>
                                    <div class="card-body">
                                        <small class="p-1">سياسة</small>
                                        <p class="card-text">مفاجأة أبل القادمة.. تسريبات جديدة تكشف تفاصيل iPhone 17 Air
                                            ...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="  row border-bottom p-0">
                        <h4 class="col-11 p-2"> فن </h4>
                        <a  class="col-1 p-2 text-decoration-none" href="#"><h6 >المزيد</h6></a>
                        </div>
                </div>
                <div class="row row-cols-1 row-cols-2 py-5 ">
                    <div class="card  p-0">
                        <a href="#"><img src="https://images.skynewsarabia.com/images/v1/2025/03/15/1783972/1400/788/1-1783972.jpeg" class="w-100 h-auto" alt="news image"></a>
                        <div class="card-body ">
                            <small class="p-1 ">سياسة</small>
                            <h5 class="card-title ">ضغوط غربية ورهانات روسية تعقد آفاق الحل في أوكرانيا
                            </h5>
                            <p class="card-text text-muted ">وسط معارك محتدمة في أوكرانيا، تظل آفاق الحل السياسي غير واضحة، حيث تواصل روسيا عملياتها العسكرية بينما تكثف الولايات المتحدة وحلفاؤها الغربيون ضغوطهم الاقتصادية والدبلوماسية على موسكو. فهل ستكون هذه الضغوط كفيلة بإجبار الرئيس الروسي فلاديمير بوتين على تقديم تنازلات، أم أن الكرملين سيراهن على عامل الوقت والمناظرات السياسية لتحقيق مكاسب استراتيجية؟..</p>
                        </div>
                    </div>
                
                    <div class="col">
                        <div class="row row-cols-1 row-cols-sm-2 g-4">
                            <div class="col d-flex flex-column gap-2">
                                <div class="card ">
                                    <a href="#"><img src="https://images.skynewsarabia.com/images/v1/2025/03/14/1783722/800/450/1-1783722.jpeg" class="w-100 h-auto" alt=""></a>
                                    <div class="card-body">
                                        <small class="p-1">سياسة</small>
                                        <p class="card-text">اتفاق غزة.. لماذا يصعب التفاوض بين حماس وواشنطن وإسرائيل؟
                                            ...</p>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col d-flex flex-column gap-2">
                                <div class="card  ">
                                    <a href="#"><img src="https://images.skynewsarabia.com/images/v1/2025/03/15/1783964/800/450/1-1783964.jpg" class="w-100 h-auto" alt="news image"></a>
                                    <div class="card-body">
                                        <small class="p-1">سياسة</small>
                                        
                                        <p class="card-text">فانس: ماسك ارتكب "أخطاء" في عملية تسريح الموظفين ..</p>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col d-flex flex-column gap-2">
                                <div class="card ">
                                    <a href="#"><img src="https://images.skynewsarabia.com/images/v1/2025/03/15/1784038/1300/731/1-1784038.jpg" class="w-100 h-auto" alt="news image"></a>
                                    <div class="card-body">
                                        <small class="p-1">سياسة</small>
                                        <p class="card-text">   السيتي يخسر نقطتين في مباراة تألق مرموش...</p>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col d-flex flex-column gap-2">
                                <div class="card ">
                                    <a href="#"><img src="https://images.skynewsarabia.com/images/v1/2024/02/29/1696472/800/450/1-1696472.JPG" class="w-100 h-auto"  alt="news image"></a>
                                    <div class="card-body">
                                        <small class="p-1">سياسة</small>
                                        <p class="card-text">مفاجأة أبل القادمة.. تسريبات جديدة تكشف تفاصيل iPhone 17 Air
                                            ...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
                
            </div>
        </div>
    </div>
    <div>
        <footer class="bg-dark text-light text-center p-3">
            <div class="container">
                <div class="d-flex ">
                    <div class="p-2 flex-fill">
                        <img src="https://www.maannews.net/2022_assets/images/logo.png" class="w-1 h-auto" alt="logo" >
                        <p class="p-3">الاخبار هي عينك في العالم الواسع </p>
                    </div>
                    <div class="p-2 flex-fill">
                        <h5>روابط سريعة</h5>
                        <ul class="list-unstyled ">
                            <li><a href="#" class="text-light text-decoration-none">الرئيسية</a></li>
                            <li><a href="#" class="text-light text-decoration-none">سياسة</a></li>
                            <li><a href="#" class="text-light text-decoration-none">اقتصاد</a></li>
                            <li><a href="#" class="text-light text-decoration-none">رياضة</a></li>
                            <li><a href="#" class="text-light text-decoration-none">صحة</a></li>
                        </ul>
                    </div>
                    <div class="p-2 flex-fill" >
                        <h5> عن الموقع</h5>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-light text-decoration-none">من نحن</a></li>
                            <li><a href="#" class="text-light text-decoration-none">اعلن معنا</a></li>
                    </div>
                    <div class="p-2 flex-fill">
                        <h5>تواصل معنا</h5>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-light text-decoration-none">اتصل بنا</a></li>
                            <li><a href="#" class="text-light text-decoration-none">سياسة الخصوصية</a></li>
                            <li><a href="#" class="text-light text-decoration-none">شروط الاستخدام</a></li>
                        </ul>
                </div>
        

            </div>
        </footer>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
